

div#moveBoard {
    --menu_duration: 0.5s;
    
    .token_container {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 100%;
        width: 120px;
        height: 120px;
        position: absolute;
        user-select: none;
        
        .vote {
            position: absolute;
            width: 70%;
            height: 70%;
            top: 15%;
            left: 15%;
            background-image: url('./assets/vote_token.png');
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;
            pointer-events: none;
            display: none;
        }
        
        &.night {
            background-image: url('./assets/token_backing.webp');
        }
        
        &.alive {
            background-image: url('./assets/alive_token.png');
        }
        
        &.deadvote {
            background-image: url('./assets/dead_token.png');
            .vote {
                display: inherit;
            }
        }
        
        &.dead {
            background-image: url('./assets/dead_token.png');
        }
        
        &.grabbable {
            cursor: grab;
            &:active{
                cursor: grabbing;
            }
        }
        
        &.clickable {
            cursor: pointer;
        }
        
        img {
            pointer-events: none;
            width: 100%;
            height: 100%;
            
            &.dead {
                filter: brightness(0) invert(1);
            }
        }
        
        .token_nametag {
            position: absolute;
            top: 100%;
            width: 100%;
            text-align: center;
            font-size: 16pt;
            pointer-events: none;
        }
        
        .vote_button {
            position: absolute;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            border: black 2px solid;
            pointer-events: none;
            background-position: center;
            background-size: 85%;
            background-repeat: no-repeat;
            left: -2px;
            top: -2px;
            
            &.yes {
                background-color: rgb(100, 255, 255);
                background-image: url('./assets/yes.png');
            }
            
            &.no {
                background-color: rgb(255, 100, 100);
                background-image: url('./assets/no.png');
            }
        }
        
        .ailment {
            position: absolute;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            border: black 2px solid;
            pointer-events: none;
            
            &.drunk {
                background-color: rgb(100, 100, 255);
                background-image: url('./assets/beer.png');
                background-position: center;
                background-size: 85%;
                background-repeat: no-repeat;
                left: 3px;
                top: 3px;
            }
            
            &.poison {
                background-color: rgb(100, 255, 100);
                background-image: url('./assets/skull.png');
                background-position: center;
                background-size: 90%;
                background-repeat: no-repeat;
                left: 30px;
                top: -10px;
            }
            
            &.mad {
                background-color: rgb(255, 100, 100);
                background-image: url('./assets/mad.png');
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                left: -10px;
                top: 30px;
            }
        }
        
        .alignment {
            position: absolute;
            width: 35px;
            height: 35px;
            border-radius: 100%;
            border: black 1px solid;
            pointer-events: none;
            left: -5px;
            top: 80px;
            
            &.good {
                background-color: rgb(200, 200, 255);
                background-image: url('./assets/good.png');
                background-position: center;
                background-size: 120%;
                background-repeat: no-repeat;
            }
            
            &.evil {
                background-color: rgb(255, 200, 200);
                background-image: url('./assets/evil.png');
                background-position: center;
                background-size: 120%;
                background-repeat: no-repeat;
            }
            
            &.storyteller {
                background-color: rgb(255, 255, 0);
                background-image: url('./assets/storyteller.png');
                background-position: center;
                background-size: 120%;
                background-repeat: no-repeat;
            }
        }
        
        .convinced {
            position: absolute;
            width: 35px;
            height: 35px;
            border-radius: 100%;
            border: black 1px solid;
            pointer-events: none;
            left: 90px;
            top: 0px;
            background-color: rgb(150, 150, 150);
        }
        
        .on_block {
            background-image: url('./assets/onBlock.png');
            background-position: center;
            background-size: 70%;
            background-repeat: no-repeat;
            border-radius: 100%;
            width: 120px;
            aspect-ratio: 1;
            position: absolute;
            top: 0px;
            left: 0px;
            opacity: 0.8;
        }
    }
}