
@keyframes dotdotdot {
    0% {
        content: ".  ";
    }
    32% {
        content: ".  ";
    }
    33% {
        content: ".. ";
    }
    65% {
        content: "..";
    }
    66% {
        content: "...";
    }
    100% {
        content: "...";
    }
}

span.dotdotdot {
    &::after {
        display: inline-block;
        text-align: left;
        margin-left: 1pt;
        width: 10pt;
        content: "";
        animation: dotdotdot;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 3s;
    }
}