

.token {
    width: 100%;
    height: 100%;
    background: url('../../../../assets/token.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    overscroll-behavior: none;
    touch-action: none;
    border-radius: 100%;
    overflow: hidden;
    cursor: pointer;
    
    .image {
        width: 100%;
        height: 100%;
        pointer-events: none;
        touch-action: none;
    }
    
    &[data-selected="true"] {
        box-shadow: 0 0 5px 5px violet;
    }
    
    .indicators {
        
        .slot {
            position: absolute;
            pointer-events: none;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        
            .pip {
                background-color: white;
                position: absolute;
                border-radius: 100%;
                border: solid 1px black;
            }
        }
            
        .interaction {
            .pip {
                bottom: 0;
                right: 0;
                width: 40px;
                height: 40px;
            
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        
        .effect {
            .pip {
                top: 10px;
                left: 10px;
                width: 30px;
                height: 30px;
            
                img {
                    width: 70%;
                    height: 70%;
                    margin: 15%;
                }
            }
        }
        
        // splays pips based on hom many there are
        @for $quantity from 2 through 5 {
            @for $i from 1 through $quantity {
                .slot.quantity-#{$quantity}:nth-child(#{$i}) {
                    $separation: 25deg; // separation between them
                    $rotation: calc(calc($i * $separation) - calc(calc($separation / 2) * $quantity) - calc($separation / 2));
                    transform: rotate($rotation);
                    
                    .pip {
                        transform: rotate(-$rotation);
                    }
                }
            }
        }
    }
    
    .death_shroud_container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        
        &:hover {
            opacity: 0.3;
        }
        
        .death_shroud {
            height: 70%;
        }
    }
}

@keyframes menu_enter {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.menu_wrapper {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.75);
    animation: menu_enter 0.2s ease-in-out forwards;
    
    .menu {
        position: absolute;
        width: 90%;
        height: 90%;
        left: 5%;
        top: 5%;
        background-color: rgb(102, 102, 102);
        
        .exit {
            position: absolute;
            top: 0;
            right: 0;
            padding: 20px;
            font-size: 40pt;
            cursor: pointer;
            color: red;
        }
        
        .container {
            display: flex;
            height: 100%;
            width: 100%;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            
            .major_options {
                display: flex;
            }
            
            .interactions {
                display: flex;
                
                .interaction {
                    width: 70px;
                    height: 70px;
                    
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            
            .pictogram {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                
                .player_image {
                    width: 30%;
                }
                
                .relationship_image {
                    width: 10%;
                }
            }
        }
    }
}