

.dragContext {
    background-color: antiquewhite;
    overscroll-behavior: none;
    touch-action: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    user-select: none;
    overflow: hidden;
    
    .playerWrapper {
        width: 150px;
        height: 150px;
        position: absolute;
        touch-action: auto;
        pointer-events: all;
    }
}