.toggle {
    width: 80px;
    height: 30px;
    border-radius: 15px;
    background-color: rgb(21, 84, 179);
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    
    .movement {
        position: relative;
        
        &-enter {
            left: 0px;
        }
        
        &-enter-active {
            left: calc(100% - 30px);
            transition: left ease-in-out 0.15s;
        }
        
        &-enter-done {
            left: calc(100% - 30px);
        }
        
        &-exit {
            left: calc(100% - 30px);
        }
        
        &-exit-active {
            left: 0px;
            transition: left ease-in-out 0.15s;
        }
        
        &-exit-done {
            left: 0px;
        }
        
        .left{
            height: 30px;
            width: 100%;
            position: relative;
            left: 15px;
            background-color: lightgray;
        }
        .handle {
            height: 30px;
            aspect-ratio: 1;
            border-radius: 100%;
            top: 0px;
            position: absolute;
            background-color: gray;
        }
    }
}