

.container {
    --height: clamp(50px, 10vmin, 150px);
    position: fixed;
    width: 100%;
    pointer-events: none;
    display: flex;
    justify-content: center;
    text-align: center;
    
    .turntable {
        --diameter: 80vw;
        display: flex;
        justify-content: center;
        width: var(--diameter);
        height: var(--diameter);
        position: relative;
        bottom: calc(var(--diameter) - var(--height));
        background-color: rgb(255, 255, 255);
        border-radius: 100%;
        pointer-events: all;
        transition: transform ease-in-out 0.3s;
        
        .nightTurn {
            height: 100%;
            width: var(--diameter);
            position: absolute;
            top: 0;
            --rotation: attr(data-index);
            transform: rotate(var(--rotation));
            display: flex;
            justify-content: center;
            pointer-events: none;
            
            .tile {
                pointer-events: all;
                width: calc(var(--height) * 1.5);
                height: calc(var(--height) - 20px);
                position: absolute;
                background-image: radial-gradient(rgba(127, 127, 127, 0.5) 0%, transparent 5cqh);
                container: nightTurn;
                container-type: size;
                bottom: 10px;
                cursor: pointer;
                transition: bottom 0.3s ease-in-out;
                
                &[data-alignment="EVIL"] {
                    background-image: radial-gradient(rgba(255, 0, 0, 0.5) 0%, transparent 5cqh);
                }
                
                &[data-alignment="GOOD"] {
                    background-image: radial-gradient(rgba(0, 0, 255, 0.5) 0%, transparent 5cqh);
                }
            
                img {
                    width: 100cqh;
                    height: 100cqh;
                }
            }
                
            &.enter {
                .tile {
                    bottom: 10px;
                }
                
                .description {
                    opacity: 0;
                    bottom: var(--height);
                }
            }
            
            &.enterActive {
                .tile {
                    bottom: var(--height);
                    transition: bottom 0.3s ease-in-out;
                }
                
                .description {
                    opacity: 1;
                    bottom: 0;
                    transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
                }
            }
            
            &.enterDone {
                .tile {
                    bottom: var(--height);
                }
                
                .description {
                    opacity: 1;
                    bottom: 0;
                }
            }
            
            &.exit {
                .tile {
                    bottom: var(--height);
                }
                
                .description {
                    opacity: 1;
                    bottom: 0;
                }
            }
            
            &.exitActive {
                .tile {
                    bottom: 10px;
                    transition: bottom 0.3s ease-in-out;
                }
                
                .description {
                    opacity: 0;
                    bottom: var(--height);
                    transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
                }
            }
            
            &.exitDone {
                .tile {
                    bottom: 10px;
                }
                
                .description {
                    opacity: 0;
                    bottom: var(--height);
                }
            }
            
            .description {
                position: absolute;
                bottom: var(--height);
                opacity: 0;
                height: calc(var(--height) - 10px);
                cursor: pointer;
                transition: bottom 0.3s ease-in-out;
                font-size: calc(var(--height) / 8);
                
                --base: calc(var(--height) - (var(--diameter) / 2));
                
                .shapeLeft {
                    float: left;
                    width: 50%;
                    height: 100%;
                    shape-outside: polygon(0 var(--base), 20% calc(var(--base) + (var(--diameter) / 3.5)), 50% calc(var(--base) + (var(--diameter) / 2.4)), 80% 100%, 0 100%);
                }
                
                .shapeRight {
                    float: right;
                    width: 50%;
                    height: 100%;
                    shape-outside: polygon(100% var(--base), 80% calc(var(--base) + (var(--diameter) / 3.5)), 50% calc(var(--base) + (var(--diameter) / 2.4)), 20% 100%, 100% 100%);
                }
                
                span {
                    display: block;
                    font-size: 1.2em;
                    width: var(--diameter);
                    height: var(--height);
                }
            }
        }
    }
}